h1{text-align: center; background-color: brown; width: 350px; height: 50px; text-align: center; margin-left: 400px; font-size: 30px; }
body{background-color: darkslategrey;}
div{width: 700px; 
background-color: black;
padding: 40px;
border: 5px solid red;
margin-left: 200px;}
p{background-color: aquamarine; padding: 50px; font-weight: 800;
    
font-size: 18px;}